@use 'variables' as *;
@use 'utils' as *;

.sub-container {
  display: flex;
  flex-flow: column nowrap;
  text-align: start;
  padding: space(4);
}

.button {
  border: none;
  outline: none;
  color: $font-white;
  cursor: pointer;
  background-color: $secondary-color;
  padding: 1rem;
  font: {
    size: 1.1rem;
    weight: 700;
  }
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 3px 5px rgba($color: #000000, $alpha: 0.25);

  &:hover {
    background-color: darken($color: $secondary-color, $amount: 5%);
    transform: scale(1.01);
  }
}

.attribution {
  text-align: center;
  margin: space(1);
  width: 100%;

  a {
    color: #1b5299;
    text-decoration: none;
  }
}
